
.container {
  max-width: 1200px !important;
  margin: 0 auto !important;
}

.top-picks-title{
  font-size: 24px;
  font-weight: bold;
}

.top-picks-and-button{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.buttonShowMore {
  display: inline-block;
  border-radius: 50px;
  border: none;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.24);
  text-align: center;
  font-size: 20px;
  padding: 4px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
}

.buttonShowMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonShowMore span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonShowMore:hover span {
  padding-right: 25px;
}

.buttonShowMore:hover span:after {
  opacity: 1;
  right: 0;
}

.card-top-picks {
  width: 250px;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
}


.card-image-top-picks {
  width: 100%;
  height: auto;
}

.card-details-top-picks {
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.product-name-top-picks {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rating-discount-corousel{
  display: flex;
  justify-content: center;
  font-size: large;
}

.product-price-top-picks {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.buy-button-top-picks {
  background-color:black;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  border-radius:18px;
  transition: background-color 0.3s;
  transition: background-color 0.3s, opacity 0.5s ease;
  
}

.buy-button-top-picks:hover {
  background-color: #333; /* Daha koyu renk */
  opacity: 0.9; /* opaklık */
  transform: scale(1.05); /* büyüme efekti */
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 2;
  transition: all 0.3s ease;
}

.favorite-button:hover {
  transform: scale(1.1);
  background: #ffe5e5;
}
