@import "../../../styles/variable.scss";
@import "../../../styles/responsive.scss";


.adminMenu {
  .menuItem {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 1.2rem;

    .menuTitle {
      font-size: 0.8rem;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
      @include lg{
        display: none;
      }
    }

    .menuListItem {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      padding: 0.6rem;

      &:hover {
        background-color: $soft-bg;
      }
      .menuListTitle{
        @include lg{
          display: none;
        }
      }
    }
  }
}
