.Navbar2All{

}

.Navbar2Links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1%;
    height: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2vh;
}

.Navbar2Links a{
    text-decoration: none;
    font-size: 17px;
    font-family: "Georgia", Times, serif;
}