/* Navbar genel stil */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #003da6; /* Navbar rengi #003da6 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

/* Logo stil */
.navbar-logo .logo-image {
  width: 120px;
  height: auto;
}

/* Arama bar'ı stil */
.navbar-search {
  position: relative;
  width: 350px; /* Arama bar'ı uzunluğu */
  height: 40px; /* Arama bar'ı yüksekliği */
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 10px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Oval köşeler */
  font-size: 16px;
  color: black; /* Yazı rengi siyah */
  outline: none;
}

.search-input:focus {
  border-color: #003da6; /* Focus durumunda renk değişikliği */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Sağ tarafta 10px mesafe */
  transform: translateY(-50%); /* Dikeyde ortalamak için */
  font-size: 18px;
  color: #888;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-button {
  display: flex;
  align-items: center;
  background-color: #003da6;
  border-radius: 20px;
  padding: 8px 15px;
  margin-left: 10px;
  font-size: 14px;
  color: white;
}

.navbar-button:hover {
  background-color: rgba(0, 0, 0, 0); /* Arka plan transparan olacak */
  opacity: 0.7; /* Opaklık %70 yapılarak transparanlaşma sağlanacak */
}

.icon {
  margin-right: 5px;
}
