.category-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.filter-container {
  width: 100%;
  max-width: 250px;
  margin: 2rem;
}

.brand-filter {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.price-filter {
  margin-top: 1rem;
}

.price-filter .ant-input-number {
  width: 100px;
}

@media (max-width: 768px) {
  .filter-container {
    width: 100%;
    margin: 1rem;
  }
}

@media (max-width: 480px) {
  .filter-container {
    margin: 0.5rem;
  }
}