.allMainHomePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; /* Yatayda ortalama unutma!*/
}

.TopPicksOnHomePage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4vh;
}

.DiscountsTextOnHomePage {
  margin-top: 3vh;
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.discountsListOnHomePage {
  margin-top: 2%;
}

.pricesOnDiscountsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.canceledPriceOnDiscound p {
  text-decoration: line-through;
  color: #999;
  margin: 0;
}

.lastPriceOnDiscound p {
  font-weight: bold;
  color: #ff0000;
  margin: 0;
}

.GridCardsOnHomePage{
  margin-top: 4rem;
}

.BrandsOnHomePage{
  margin-bottom: 2rem;
}

/* Ekran boyutuna göre kart genişliğini ayarlama */
@media (max-width: 768px) {
  /*(tablet) */
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  /*(mobil) */
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
